<template name="Header">
    <div class="ui top fixed borderless menu">
        <div class="ui container">
            <a class="item" href="#"><img src="/images/seal.png"></a>
            <a class="item" href="#"><h2>OCCC Visitation</h2></a>
            {{#if currentUser}}
                {{#if isInRole 'visitor'}}
                    <a class="item">Welcome {{firstname}}&nbsp;&nbsp; {{phonenumber}}</a>
                {{/if}}
                <button class="logout right item">Logout</button>
            {{/if}}
            <a class="right item" href="/site-map">Site Map</a>
        </div>
    </div>
    <div class="ui container">
        <hr>
    </div>
</template>