<template name="Visitor_Header">
    <div class="ui top fixed borderless menu">
        <div class="ui container">
            <span class="item"><img src="/images/seal.png"></span>
            <span class="item"><h2>OCCC Visitation</h2></span>
            {{#if currentUser}}
                {{#if isInRole 'visitor'}}
                    <a class="item">{{name}}&nbsp;({{phonenumber}})</a>
                {{/if}}
                <button class="ui primary button logout right item">Logout</button>
            {{/if}}
        </div>
    </div>
    <div class="ui container">
        <hr>
    </div>
</template>