<template name="requests">

    {{#each requests}}
        <div class="panel panel-default ticket">
          <div class="panel-body">
            <p><strong>Date Request Sent:</strong> {{date}}</p>
            {{#with ticket this.ticketId}}
                <p><strong>Visitor name</strong>: {{name}}</p>
            {{/with}}

            {{#with visitor this.userId}}
                <p><strong>Inmate name</strong>: {{name}}</p>
                <!-- <p><strong>Visit date:</strong> {{visitDate}}</p> -->
            {{/with}}

            <!-- {{#with visitor this.userId}}
                <p><strong>Visit date:</strong> {{visitDate}}</p>
            {{/with}} -->
          </div>
        </div>
    {{else}}

        <p class="alert alert-info">You haven't sent a request yet! <a href="{{pathFor 'request'}}">Send a request now</a>.</p>
    {{/each}}

</template>