<template name="login">
  <div id="login">
    <h1>Welcome Back!</h1>
    <form class="login-user">
      <div class="field-wrap">
        <label>
          Mobile<span class="req">*</span>
        </label>
        <input type="tel" name="loginPhone" required autocomplete="off" />
      </div>

      <div class="field-wrap">
        <label>
          Password<span class="req">*</span>
        </label>
        <input type="password" name="loginPassword" required autocomplete="off" />
      </div>

      <p class="forgot"><a href="#">Forgot Password?</a></p>

      <button class="button button-block">Log In</button>

    </form>
  </div>
</template>