<template name="register">
  <div id="register">
    <h1>Sign Up for Free</h1>
    <form class="new-user">
      <div class="top-row">
        <div class="field-wrap">
          <label>
            First Name<span class="req">*</span>
          </label>
          <input type="text" name="registerFName" required autocomplete="off" />
        </div>

        <div class="field-wrap">
          <label>
            Middle Initial<span class="req">*</span>
          </label>
          <input type="text" name="registerMName" required autocomplete="off" />
        </div>

        <div class="field-wrap">
          <label>
            Last Name<span class="req">*</span>
          </label>
          <input type="text" name="registerLName" required autocomplete="off" />
        </div>
      </div>

      <div class="field-wrap">
        <label>
          Mobile<span class="req">*</span>
        </label>
        <input type="tel" name="registerPhone" required autocomplete="off" />
      </div>

      <div class="field-wrap">
        <label>
          Password<span class="req">*</span>
        </label>
        <input type="password" name="registerPassword" required autocomplete="off"/>
      </div>

      <button type="submit" class="button button-block">GET STARTED</button>

    </form>
  </div>
</template>
