<template name="signup">
  <div id="signup">
    <h1>Sign Up for Free</h1>
    <form class="new-user">
      <div class="field-wrap">
        <label>
          Mobile<span class="req">*</span>
        </label>
        <input type="tel" name="signupPhone" required autocomplete="off" />
      </div>

      <div class="field-wrap">
        <label>
          Password<span class="req">*</span>
        </label>
        <input type="password" name="signupPassword" required autocomplete="off"/>
      </div>

      <button type="submit" class="button button-block">GET STARTED</button>

    </form>
  </div>
</template>
