<template name="requestConfirmation">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date of Birth</th>
                <th>State ID</th>
                <th>Date to Visit</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-left">{{name}}</td>
                <td class="text-left">{{dateOfBirth}}</td>
                <td class="text-left">{{stateId}}</td>
                <td class="text-left">{{visitDate}}</td>
            </tr>
        </tbody>
    </table>
</template>
