<template name="request">
    <div class="jumbotron text-center">
        <h2>Send a request for a visit</h2>
        <p>You can request visits in this area.</p>
    </div>

    <form id="place-request">
        <h3 class="page-header">Send a request for approval</h3>

        <div class="form-group">
            <p>Choose from the available dates below</p>
        </div>

        {{> ticketCategories}}

        <h3 class="page-header">Who do you want to visit?</h3>

        {{#with visitor}}
            {{> Template.dynamic template="inmateInformation"}}
        {{/with}}

        <h3 class="page-header">Confirm and send your request</h3>
        {{#with request}}
            {{> requestConfirmation}}
        {{/with}}

        <div class="submit-row">
            <input type="submit" class="btn btn-success" value="Send My Request!">
        </div>
    </form>
</template>