<template name="requestConfirmation">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date of Birth</th>
                <th>State ID</th>
                <th>Date to Visit</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{#if type}}{{type}} &mdash; {{/if}}{{>inmateInformation.name}}</td>
                <td>{{#if type}}{{type}}{{/if}}{{inmateInformation.dateOfBirth}}</td>
                <td>{{#if type}}{{type}}{{/if}}{{inmateInformation.stateId}}</td>
                <td>{{date}}</td>
            </tr>
        </tbody>
    </table>
</template>
