<template name="ticket">
    <div class="panel panel-default ticket">
        <div class="panel-body">
            <p class="clearfix">
                <strong class="pull-left">{{name}}</strong>
            </p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{visitDate}}"</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>
